header {
  padding: 132px 0 80px;
}

header .container > div {
  display: flex;
  align-items: center;
  column-gap: 60px;
}

.left-part {
  row-gap: 60px;
}

.title {
  font-family: MullerExtraBold;
  font-size: 45px;
  line-height: 55px;
}

.benefits {
  row-gap: 45px;
}

.benefits-row {
  display: flex;
  align-items: flex-start;
  column-gap: 45px;
  flex: 1;
}

.benefits-block {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  flex: 1;
}

.benefits .block-title {
  font-family: MullerExtraBold;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  margin-bottom: 0.5rem;
}

.benefits .block-description {
  letter-spacing: 0.02em;
}

.button__selectPizza {
  padding: 22px 52px;
  max-width: 224px;
}

@media (max-width: 1100px) {
  header {
    padding: 45px 0 45px;
  }

  .title {
    text-align: center;
  }

  header .container > div {
    flex-direction: column;
    row-gap: 2rem;
  }

  .button__selectPizza {
    margin: 0 auto;
  }
}

@media (max-width: 550px) {
  header .pizza-main {
    display: none;
  }

  .benefits-row {
    flex-direction: column;
    row-gap: 2rem;
  }

  .benefits {
    row-gap: 2rem;
  }

  .title {
    font-size: 35px;
    line-height: normal;
  }
}
